//
@import '../../node_modules/mdbootstrap/css/mdb.css';
@import './mdb-free.scss';
@import './mdb-lite-free.scss';
@import '../../node_modules/mdbootstrap/css/bootstrap.css';
@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
@font-face {
    font-family: 'DDayStencil';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/DDayStencil.ttf');
    src: local('DDayStencil'), url('/fonts/DDayStencil.ttf') format("truetype");
}

.header-img {
    max-width: 75px;
}

.navbar {
    background-color: rgba(0, 0, 0, 1);
}