//
@import '../../node_modules/mdbootstrap/css/mdb.css';
@import './mdb-free.scss';
@import './mdb-lite-free.scss';
@import '../../node_modules/mdbootstrap/css/bootstrap.css';
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

.header-img {
    max-width: 100px;
}
.bg {
    background-image: url('public/images/riot-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15vw;
    background-color: black;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
}
.landing-img {
    max-width: 350px;
}