@import './app.scss';

.navbar {
    background-color: rgba(0, 0, 0, 0.6);
}
.bg {
    background-image: url('public/images/riot-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15vw;
    background-color: black;
}
.landing-img {
    max-width: 350px;
}
.home-video {
    width: 100%;
    height: 50vw;
}